---
const { title, content, image } = Astro.props;
---
<div class="card">
  <img src={image} alt={title} class="card-image" />
  <h3 class="card-title">{title}</h3>
  <p class="card-content">{content}</p>
</div>
