---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || 'Astro Project'}</title>
    <link rel="stylesheet" href="/astro-sample-project/global.css">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/astro-sample-project/" class="nav-link">Home</a><div class="separator"></div>
        <a href="/astro-sample-project/content" class="nav-link">Content</a></nav>
    </header>
    
    <main>
      <slot />
    </main>
  </body>
</html>
